<?xml version="1.0"?>
<config>
    <modules>
        <Gbinside_Feedback>
            <version>0.1.0</version>
        </Gbinside_Feedback>
    </modules>
    <global>
        <models>
            <gbfeedback>
                <class>Gbinside_Feedback_Model</class>
                <resourceModel>gbfeedback_resource</resourceModel>
            </gbfeedback>
            <gbfeedback_resource>
                <class>Gbinside_Feedback_Model_Resource</class>
                <entities>
                    <feedback>
                        <table>gbfeedback</table>
                    </feedback>
                </entities>
            </gbfeedback_resource>
        </models>
        <blocks>
            <gbfeedback>
                <class>Gbinside_Feedback_Block</class>
            </gbfeedback>
        </blocks>
        <helpers>
            <gbfeedback>
                <class>Gbinside_Feedback_Helper</class>
            </gbfeedback>
        </helpers>
        <resources>
            <gbfeedback_setup>
                <setup>
                    <module>Gbinside_Feedback</module>
                </setup>
            </gbfeedback_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <gbfeedback>
                <use>standard</use>
                <args>
                    <module>Gbinside_Feedback</module>
                    <frontName>gbfeedback</frontName>
                </args>
            </gbfeedback>
        </routers>
        <layout>
            <updates>
                <gbfeedback>
                    <file>../../../../../code/community/Gbinside/Feedback/layout/gbfeedback.xml</file>
                </gbfeedback>
            </updates>
        </layout>
    </frontend>
</config>